gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Android Studio関連
*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

# Keystore関連
*.jks
*.keystore
key.properties

# Google Services関連
google-services.json

# Fastlane関連
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
